*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, .grid, footer {
    max-width: 900px;
    margin: 10px;
}

.grid{
    display: grid;
    align-items: center;
}


nav {
    background-color:slategray;
    padding:5px;
    display:flex;
    justify-content: space-evenly;
    padding: 5em;
    align-items: center;
}

nav a {
    display: block;
    padding:1em;
    text-decoration: none;
    color:white;
    display:inline;
    padding: 10px;
}

h1{
    color:slategray;
    border-bottom: 1px solid black;
}

main {
    max-width: 50%;
    grid-column: 2/3;
    margin:1rem;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {padding: 0;}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row:1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 590px;
}


footer {
    margin-top: 20px;
    border-top: 1px darkcyan solid;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
