*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color:slategray;
    padding:5px;
}

nav a {
    color:white;
    display:inline;
    padding: 10px;
}

h1{
    color:slategray;
}

main {
    max-width: 50%;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {padding: 0;}

aside {
    width: 50%;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 590px;
}


footer {
    margin-top: 20px;
    border-top: 1px darkcyan solid;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
